* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
html {
  scroll-behavior: smooth;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}
body {
  font-size: 1.6rem;
  overflow: overlay;
}
/* === Classes Gerais === */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
