$body-bg: pink;

$main-color: pink;
$second-color: pink;
$txt-color:pink;

$color-dark: #333;

$white: pink;
$black: pink;

$header-height: 9.5rem;
$border-radius: 3rem;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: 'Opens sans', cursive;